.container {
  position: relative;
  width: 387px;
  //filter: saturate(1.15);

  .background-container {
    height: 374px;
    width: 387px;
  }

  .ui-container {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.row {
  display: flex;
  &:nth-child(1), &:nth-child(3) {
    margin-left: 64.5px;
  }
  margin-bottom: -37px;
}


.cell {
  width: 129px;
  height: 149px;
  //clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
