/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; box-sizing: border-box;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.tile {
  img {
    //width: 250px;
    //height: 250px;
    width: 258px;
    height: 249px;
  }
}
