/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #ffe98c;
}


html, body { height: 100%; width: 100%; box-sizing: border-box;}
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Times New Roman";
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.tile {
  img {
    //width: 250px;
    //height: 250px;
    width: 258px;
    height: 249px;
  }
}

//#############################################################
//######################      DIALOG       ####################
//#############################################################

.dialog {
  background-color: white;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--primary);
  font-family: "Times New Roman";
  font-size: 16px;

  background-image: url("/assets/UI/panelcoloredbg.jpg");
  background-repeat: repeat;

  border-image-repeat: round;
  border-image-source: url("/assets/UI/border.png");
  border-image-slice: 20;
  border-image-width: 20px;
}


.header {
  padding: 20px 5px 8px 5px;
  margin: 0 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &:after {
    content: "";
    display: block;
    height: 0;
    border: 2px solid #2b4289;
    border-top-color: #0b0a08;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .title {
    margin-right: auto;
    font-size: 24px;
    padding-left: 5px;
  }
}

.sub-header {
  margin: 0 15px;
  position: relative;
  padding: 0 10px;

  &:after {
    content: "";
    display: block;
    height: 0;
    border: 2px solid #2b4289;
    border-top-color: #0b0a08;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.closeButton {
  cursor: pointer;
  font-family: "Times New Roman";
  font-size: 18px;
  padding: 4px 8px;
  margin-left: 7px;

  min-width: 32px;
  width: 32px;
  min-height: 32px;
  max-height: 32px;

  background-image: url("/assets/UI/panelcoloredbg.jpg");
  background-repeat: repeat;
  border-radius: 0;
  color: var(--primary);

  $color-default: #0c0800;
  $color-vertical: #a7a29a;
  $color-horizon: #2b4289;

  border: 2px solid #0c0800;
  border-top-color: $color-vertical;
  border-left-color: $color-horizon;

  &:active {
    border-top-color: $color-default;
    border-left-color: $color-default;
    border-bottom-color: $color-vertical;
    border-right-color: $color-horizon;
  }
}

.content {
  height: auto;
  padding: 7px 20px 0;
  overflow: hidden;
  overflow-y: scroll;
  width: calc(100% - 16px);
  margin-bottom: 15px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 3px solid;
}



//#############################################################
//######################      BUTTON       ####################
//#############################################################

.button {
  background-color: white;

  font-family: "Times New Roman";
  font-size: 16px;
  padding: 7px 10px;

  cursor: pointer;

  transition: background-color .3s,
  border-top-color    .2s,
  border-bottom-color .2s,
  border-left-color   .2s,
  border-right-color  .2s
;

  background-image: url("/assets/UI/dialog-background.png");

  .dialog & {
    background-image: url("/assets/UI/panelcoloredbg.jpg");
  }

  background-repeat: repeat;
  border-radius: 0;
  color: #ffe98c;

  $color-default: #0c0800;
  $color-vertical: #a7a29a;
  $color-horizon: #2b4289;

  border: 2px solid #0c0800;
  border-top-color: $color-vertical;
  border-left-color: $color-horizon;

  &:active {
    border-top-color: $color-default;
    border-left-color: $color-default;
    border-bottom-color: $color-vertical;
    border-right-color: $color-horizon;
  }

  &.warn {
    color: #fe6b6c;
  }

  &:hover {
    background-color: #eee;
  }

  & .button {
    margin: -8px -12px;
    margin-left: 10px;
  }
}

//======================================

hr {
  border: 2px solid #604c3c;
  border: 2px solid #2b4289;
  border-top-color: #0b0a08;
}

//======================================

select {
  //font-family: "Times New Roman", serif;
  font-family: "Times New Roman";
  font-size: 16px;
  font-weight: lighter;
  color: var(--primary);
  background: url("/assets/UI/panelcoloredbg.jpg");

  option {
    font-size: 16px;
    font-weight: lighter;
    background: #2b4289;

    &.first {
      font-size: 17px;
      text-align: center;
    }
  }

  optgroup {
    background: #2b4289;
    font-weight: lighter;
    font-size: 18px;;
  }
}
