<div class="dialog">
  <div class="header">
    <div class="title">Random Map Generation Settings</div>
    <button (click)="close()" class="closeButton"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="content">
    <div class="formBlock">
      <div class="formBlock-title">Map size</div>
      <mat-radio-group
        aria-labelledby="mapsize-group-label"
        class="mapSize"
        [(ngModel)]="selectedMapSize"
      >
        <mat-radio-button *ngFor="let map of mapSizeOptions" [value]="map.value" (change)="selectMapSize(map.value)">
          {{map.name}}
        </mat-radio-button>
      </mat-radio-group>
<!--      <select name="mapsize" #mapsize (change)="selectMapSize(mapsize.value)" [(ngModel)]="selectedMapSize">-->
<!--        <option *ngFor="let map of mapSizeOptions" [value]="map.value">{{map.name}}</option>-->
<!--      </select>-->
    </div>
    <div class="formBlock">
      <div class="formBlock-title">Players</div>
      <mat-radio-group
        aria-labelledby="[players-group-label]"
        class="players"
        [(ngModel)]="selectedPlayers">
        <mat-radio-button *ngFor="let player of playerOptions" [value]="player.value" (change)="selectPlayerAmmount(player.value)" >
          {{player.name}}
        </mat-radio-button>
      </mat-radio-group>

<!--      <select name="players" #players (change)="selectPlayerAmmount(players.value)" [(ngModel)]="selectedPlayers">-->
<!--        <option *ngFor="let player of playerOptions" [value]="player.value">{{player.name}}</option>-->
<!--      </select>-->
    </div>
    <div class="formBlock" [formGroup]="flipGroup">
      <div class="formBlock-title">Flip Tiles</div>
      <ng-container *ngFor="let filter of flip">
        <mat-checkbox (change)="toggleSetting($event)" formControlName="{{filter.name}}">{{filter.desc}}</mat-checkbox>
        <br>
      </ng-container>
    </div>
<!--    <div class="formBlock">-->
<!--      <div class="formBlock-title">Generation precision</div>-->
<!--      <mat-checkbox formControlName="tt">Slow but better</mat-checkbox>-->
<!--    </div>-->
    <hr>
    <button class="button" (click)="generateRandomMap()">Generate Random Map</button>
  </div>


</div>
