<div class="dialog">
  <div class="header">
    <div class="title">About</div>
    <button (click)="close()" class="closeButton"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="sub-header">
  </div>
  <div class="content">
    <h3>Created by:</h3>
    <p><b>Zedero (Patrick Kersten)</b> to assist the creative minds of the HoMM3 Boardgame community create their own maps and scenario's.</p>
    <br>
    <h3>Special thanks to:</h3>
    <p>
      <b>Archon Studio</b> for creating this wonderfull boardgame. <br>
      <b>Ioan</b>: For providing me with HD assets making the initial tiles so much better. <br>
      <b>UseCactus</b>: For some great UI feedback. <br>
      <b>Tomas Zeman</b>: For providing the editor with tile scans.
    </p>
    <br>
    <p>And not to forget, many thanks to the <b>HoMM3 Boardgame community</b> for their support and feedback.</p>

  </div>

</div>
