
$color-default: #0c0800;
$color-vertical: #a7a29a;
$color-horizon: #2b4289;

.mini-tile {
  height: 100px;
  width: 100px;
  position: relative;

  margin-bottom: 18px;
  margin-right: 18px;

  img {
    width: 100%;
    height: 100%;
  }

  button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity .2s;

    $b-color-1: rgba(255,255,255,1);
    $b-color-2: rgba(205,205,205,1);

    background-color: #eee;
    background-image: url("../../../assets/UI/dialog-background-blue.png");
    color: var(--primary);
    background-repeat: repeat;
    filter: drop-shadow(0 0 2px rgba(0,0,0,.3));

    //font-weight: bold;
    //color: black;
    cursor: pointer;
    font-family: "Times New Roman", serif;
    font-size: 16px;


    border: 2px solid #0c0800;
    border-top-color: $color-vertical;
    border-left-color: $color-horizon;

    &:active {
      border-top-color: $color-default;
      border-left-color: $color-default;
      border-bottom-color: $color-vertical;
      border-right-color: $color-horizon;
    }
  }

  &:hover {
    button  {
      //opacity: .85;
      opacity: 1;
    }
  }
}

.tileContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.content {
  color: white;

  h3 {
    color: var(--primary);
  }

  b {
    color: var(--primary);
  }
}

.content .title {
  width: 100%;
  margin: 0 0 10px 5px;
  font-size: 16px;

  display: flex;
  align-items: center;

  .tilesLeft {
    font-size: 12px;

    background-color: #01274B;
    border-radius: 4px;
    padding: 0 5px;
    margin-left: 6px;
    min-width: 20px;
    text-align: center;
  }
}

.formTitle {
  color: var(--primary);
  margin-right: 10px;
}

::ng-deep {
  .mdc-form-field > label {
    margin-left: -7px !important;
    color: var(--primary);
  }
}

mat-checkbox {
  margin-right: 5px;
}

:host ::ng-deep .mdc-checkbox__background {
  background: transparent !important;

  border: 2px solid #0c0800 !important;
  border-top-color: $color-vertical !important;
  border-left-color: $color-horizon !important;

  svg {
    color: var(--primary) !important;
  }
}

a, a:visited, a:active, a:hover {
  color: $color-vertical;
}