<div class="dialog">
  <div class="header">
    <div class="title">Import / Export Map</div>
    <button (click)="close()" class="closeButton"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="content">
    <div class="container">
      <label>Import Map</label>
      <textarea [(ngModel)]="importValue"></textarea>
      <button class="button" (click)="import()">Import Map</button>
    </div>

    <hr>

    <div class="container">
      <label>Export Map</label>
      <textarea [(ngModel)]="exportValue"></textarea>
      <button class="button" [cdkCopyToClipboard]="exportValue" (click)="close()">Copy to clipboard</button>
    </div>

  </div>
</div>
