.container {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
}

textarea {
  display: block;
  width: 100%;
  min-height: 75px;
  margin-bottom: 10px;
}

hr {
  border: 2px solid #604c3c;
  border-top-color: #0b0a08;
}

//button {
//  background-color: white;
//  border: 2px solid #777777;
//  border-radius: 20px;
//
//  font-family: Roboto, serif;
//  padding: 5px 10px;
//
//  cursor: pointer;
//
//  transition: background-color .3s;
//
//  &.warn {
//    border-color: red;
//    color: red;
//  }
//
//  &:hover {
//    background-color: #eee;
//  }
//
//  &:active {
//    background-color: aliceblue;
//  }
//}
