.grid {
  position: absolute;
  top: 0;
  left: 0;

  :nth-child(odd of .row) {
    margin-left: -43px;
  }
  z-index: 0;
}

#tilesContainer {
  height: 100%;
}

.tileContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.row {
  display: flex;
  margin-bottom: -26px;
}

.column {

}

.tile {
  position: absolute;
}

.toolbar-button {
  background-color: white;
  border: 2px solid #777777;
  border-radius: 20px;
  margin-left: 10px;

  font-family: Roboto, serif;
  padding: 5px 10px;

  cursor: pointer;

  transition: background-color .3s;

  &.warn {
    border-color: red;
    color: red;
  }

  &:hover {
    background-color: #eee;
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;

  //height: 30px;
  padding: 10px;

  width: 100%;
  background-color: white;
  filter: drop-shadow(0 0 2px rgba(0,0,0,.3));


}
