<div class="container">
  <select name="enemy" #enemyLevel (change)="selectEnemy(enemyLevel.value)" [disabled]="blockedSpace" [(ngModel)]="enemySelected">
    <option *ngFor="let enemy of enemies" [value]="enemy.value">{{enemy.name}}</option>
  </select>

  <select name="icon" #icon (change)="selectEnemy(icon.value)" [disabled]="blockedSpace" [(ngModel)]="iconSelected">
    <option *ngFor="let icon of icons" [value]="icon.value">{{icon.name}}</option>
  </select>

  <div class="blockField">
    <input type="checkbox" id="blocked-{{ uuid }}" #blocked (change)="selectBlockedField(blocked.checked)" [(ngModel)]="blockedSpace">
    <label for="blocked-{{ uuid }}">block field</label>
  </div>

  <div class="blockBorder">
    <input type="checkbox" id="border-{{ uuid }}" [disabled]="blockedSpace" #border (change)="selectBlockedBorder(border.checked)" [(ngModel)]="blockedBorder">
    <label for="border-{{ uuid }}">block border</label>
  </div>
</div>

<div class="visualContainer">
<!--  <div class="tileId" *ngIf="blockedSpace && id" ></div>-->
  <div class="tileId" *ngIf="blockedSpace && tileName" >
    <span>{{tileName}}</span>
    <img src="assets/tiles/blocked-test.png" alt="">
  </div>
  <div class="tileId" *ngIf="blockedBorder && !blockedSpace">
    <img src="assets/tiles/blocked-test.png" alt="" [class]="getBorderClass()">
  </div>
  <div class="tileEnemy" *ngIf="enemySelected"><span>{{toRoman[enemySelected]}}</span></div>
  <div class="tileIcon" *ngIf="iconSelected"><img src="assets/icons/{{iconSelected}}.png" alt=""></div>
</div>
