.grid {
  position: absolute;
  top: 0;
  left: 0;

  :nth-child(odd of .row) {
    margin-left: -43px;
  }
  z-index: 0;
}

#tilesContainer {
  height: 100%;
  //background-color: rgba(255,0,0,.2);
}

.tileContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.row {
  display: flex;
  margin-bottom: -26px;
}

.column {

}

.tile {
  position: absolute;
}

.toolbar {

  color: #ffe98c;
}

.toolbar-button {
  background-color: white;
  //border: 2px solid #777777;
  //border-radius: 20px;
  margin-left: 10px;

  font-family: "Times New Roman";
  font-size: 16px;
  padding: 7px 10px;

  cursor: pointer;

  transition: background-color .3s,
            border-top-color    .2s,
            border-bottom-color .2s,
            border-left-color   .2s,
            border-right-color  .2s
;

  background-image: url("../assets/UI/dialog-background.png");
  background-repeat: repeat;
  border-radius: 0;
  color: #ffe98c;

  $color-default: #0c0800;
  $color-vertical: #a7a29a;
  $color-horizon: #584738;

  border: 2px solid #0c0800;
  border-top-color: $color-vertical;
  border-left-color: $color-horizon;

  &:active {
    border-top-color: $color-default;
    border-left-color: $color-default;
    border-bottom-color: $color-vertical;
    border-right-color: $color-horizon;
  }

  &.warn {
    color: #fe6b6c;
  }

  &:hover {
    background-color: #eee;
  }

  & .toolbar-button {
    margin: -8px -12px;
    margin-left: 10px;
  }
}

.rot-left i {
  rotate: -45deg;
}

.rot-right i {
  rotate: 45deg;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  row-gap: 7px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  background-color: white;
  //filter: drop-shadow(0 0 2px rgba(0,0,0,.3));

  background-image: url("../assets/UI/dialog-background.png");

  background-repeat: repeat;

  padding: 10px;

  border-image-source: linear-gradient(to bottom, #b4a46d, #9e8236);
  border-image-slice: 3;
  border-image-width: 3px;
}

:host {
  display: block;
  position: relative;
  max-height: 100vh;
  height: 100vh;
  overflow: scroll;
}


.inputGroup {
  display: flex;
  align-items: center;
  margin-right: 20px;

  label {
    margin-right: 10px;
  }
}

input[type="number"] {
  border: 2px solid #777777;
  border-radius: 5px;
  height: 30px;
  width: 75px
}

.invalid-map {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: .25s opacity;

  &.show {
    opacity: .75;
  }
}

.moveMenu {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(255,255,255,1);
  filter: drop-shadow(0px 0px 3px #000000);
  padding: 20px;
  opacity: .9;

  width: 180px;
  height: 180px;
  z-index: 1;

  .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    opacity: .5;
  }


  button {
    margin: 0;
    height: 40px;
    width: 40px;

    &.move {
      margin-right: 55px
    }
  }

  & > div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
}

.loading {
  top: 40vh;
  left: 50vw;
  position: fixed;
  z-index: 1000;

  .txt {
    color: #EEE;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    transform: translate(-25%, 0);
  }

  .overlay {
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
  }

  i {
    animation:spin 1.5s linear infinite;
    //color: #781296;
    color: #EEE;
    font-size: 4rem;
    font-weight: bold;

    &.reverse {
      animation:spin 1.5s linear infinite reverse;
    }
  }

  .repos {
    transform: translate(2.5rem, -1.2rem);
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}

:host {
  background: lightgray;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  //background: white;
  background-image: url("../assets/UI/background.jpg");
  background-image: url("../assets/UI/void.png");
  background-position: center center;

  &:after {
    //backdrop-filter: blur(2px);
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }
}
