<div class="invalid-map" [class.show]="!tilesService.isValidMap">The current tile placement is invalid. Connect all tiles and make sure borders dont isolate tiles</div>
<div class="grid" id="grid">
 <div class="row" *ngFor="let row of rows; index as rowIndex">
   <div class="column" *ngFor="let column of columns; index as colIndex">
     <app-cell (addNewTile)="createTile($event)" [rowId]="rowIndex" [colId]="colIndex"></app-cell>
   </div>
 </div>
</div>

<div id="tilesContainer" [style.height]="tileContainerHeight" [style.width]="tileContainerWidth" *ngIf="loaded">
  <div *ngFor="let tile of tilesService.tileList" class="tileContainer">
    <app-tile [setConfig]="tile"></app-tile>
  </div>
</div>

<div class="moveMenu" *ngIf="moveMenuVisible">
  <div>
    <button (click)="moveUpLeft()" class="toolbar-button rot-left"><i class="fa-solid fa-up-long"></i></button>
    <button (click)="moveUpRight()" class="toolbar-button rot-right"><i class="fa-solid fa-up-long"></i></button>
  </div>
  <div>
    <button (click)="moveLeft()" class="toolbar-button"><i class="fa-solid fa-left-long"></i></button>
    <button (click)="moveRight()" class="toolbar-button"><i class="fa-solid fa-right-long"></i></button>
  </div>
  <div>
    <button (click)="moveDownLeft()" class="toolbar-button rot-right"><i class="fa-solid fa-down-long"></i></button>
    <button (click)="moveDownRight()" class="toolbar-button rot-left"><i class="fa-solid fa-down-long"></i></button>
  </div>
</div>
<div class="toolbar">
<!--  <div class="inputGroup">-->
<!--    <label>Rows:</label>-->
<!--    <input type="number" placeholder="Rows" value="{{rows.length}}" (change)="changeRows($event)">-->
<!--  </div>-->

<!--  <div class="inputGroup">-->
<!--    <label>Columns:</label>-->
<!--    <input type="number" placeholder="Columns" value="{{columns.length}}" (change)="changeCols($event)">-->
<!--  </div>-->

  <button
    (click)="toggleMoveMenu()"
    class="toolbar-button"
    matTooltip="Toggle move all tiles menu"
    [matTooltipPosition]="'above'"
  ><i class="fa-solid fa-up-down-left-right"></i></button>
  <button (click)="generateRandomMap()" class="toolbar-button">RND</button>
  <button (click)="importExport()" class="toolbar-button">Import / Export Map</button>
  <button (click)="clearGrid()" class="toolbar-button warn">Clear Map</button>
  <button (click)="generateImage()" class="toolbar-button">Generate Image</button>
</div>
