<div class="grid" id="grid">
 <div class="row" *ngFor="let row of rows; index as rowIndex">
   <div class="column" *ngFor="let column of columns; index as colIndex">
     <app-cell (addNewTile)="createTile($event)" [rowId]="rowIndex" [colId]="colIndex"></app-cell>
   </div>
 </div>
</div>

<div id="tilesContainer" [style.height]="tileContainerHeight" [style.width]="tileContainerWidth">
  <div *ngFor="let tile of tilesService.tileList" class="tileContainer">
    <app-tile [setConfig]="tile"></app-tile>
  </div>
</div>

<div class="toolbar">
  <button (click)="clearGrid()" class="toolbar-button warn">Clear Map</button>
  <button (click)="generateImage()" class="toolbar-button">Generate Image</button>
</div>
