<div class="container">
<select name="hero" #hero (change)="selectHero(hero.value)" [(ngModel)]="selectedHero">
  <option class="first" [value]="0">- No Hero -</option>
  <optgroup label="{{getFactionDesc(faction)}}" *ngFor="let faction of factions">
    <option *ngFor="let hero of getHeroesByFaction(faction)" [value]="hero.value">{{hero.name}}</option>
  </optgroup>
</select>

<select name="cube" #cube (change)="selectCube(cube.value)" [(ngModel)]="selectedCube">
  <option *ngFor="let cube of cubes" [value]="cube.value">{{cube.name}}</option>
</select>
</div>
<app-cube [cube]="selectedCube"></app-cube>
<app-portrait [hero]="selectedHero"></app-portrait>
<!--<div class="hero">2</div>-->
