<div class="dialog">
  <div class="header">
    <div class="title">Select tile</div>
    <button (click)="close()" class="closeButton"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="sub-header">
    <div class="filter" [formGroup]="sets">
      <span class="formTitle">Expansions:</span>
      <ng-container *ngFor="let filter of expansionsFilter">
        <mat-checkbox formControlName="{{filter.name}}" (click)="saveFilterOptions()">{{filter.desc}}</mat-checkbox>
      </ng-container>
    </div>
  </div>
  <div class="content">
    <ng-container *ngFor="let group of enumToList(this.GROUP)">
      <div class="tileContainer" *ngIf="getGroup(tilesConfiguration, GROUP[group]).length">
        <div class="title">{{config.GROUP_DESC[group]}} <span class="tilesLeft">{{getLeft(group).current + '/' +  getLeft(group).total}}</span></div>
        <div *ngFor="let tile of getGroup(tilesConfiguration, GROUP[group])">
          <div class="mini-tile">
            <img src="{{tile.img}}" alt="{{tile.desc}}">
            <button (click)="close(tile.id)">Add {{tile.desc}}</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</div>
